* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  text-align: center;
}

header {
  padding: 20px;
  position: relative;
}

main,
p,
ul {
  margin: 50px;
}

button {
  padding: 5px;
  border-radius: 4px;
  font-size: 15px;
  background-color: purple;
  color: white;
}

ul {
  list-style: none;
}

li {
  padding: 10px;
  margin: 10px;
  font-size: 23px;
  background-color: rebeccapurple;
}

#highscore-views {
  float: left;
}

#timer-view {
  float: right;
}

#indicator {
  font-style: italic;
  font-size: 25px;
}

.highscore-element {
  font-size: 18px;
  text-align: left;
  color: white;
  padding: 10px;
  margin: 10px;
  padding-left: 30px;
  background-color: rebeccapurple;
}
