* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  text-align: center;
}

header {
  padding: 20px;
  position: relative;
}

main,
p,
ul {
  margin: 50px;
}

button {
  padding: 10px;
  border-radius: 4px;
  font-size: medium;
  background-color: purple;
  color: white;
}

ul {
  list-style: none;
}

#highscore-views {
  float: left;
}

#timer-view {
  float: right;
}
